<div class="container">
  <div class="deets">
    <%= current_user.username %>
    <%= current_user.email %>
  </div>

  <div id="created" class="profile_surveys">
    <h3>Surveys I Created</h3>
    <ul>
      <% @created_surveys.each do |survey| %>
      <li><div class="survey_title"><%=survey.title%></div>
        <ul class="survey_links">
          <li><a href="/survey/<%=survey.id%>">View Survey</a></li>
          <li><a href="/survey/<%=survey.id%>/results">View Results</a></li>
        </ul>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="voted" class="profile_surveys">
    <h3>Surveys I Voted On</h3>
    <ul>
      <% @voted_surveys.each do |survey| %>
      <li><div class="survey_title"><%=survey.title%></div>
        <ul class="survey_links">
          <li><a href="/survey/<%=survey.id%>">View Survey</a></li>
          <li><a href="/survey/<%=survey.id%>/results">View Results</a></li>
        </ul>
        </li>
      <% end %>
    </ul>
  </div>

</div>
