<div>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="/js/results.js"></script>

</div>
<div class="container">
  <div class="survey_name">
    <h2><%= @survey.title %></h2>
    <h4>created by <%= @survey.creator.username %></h4>
  </div>
  <div class="results_table">
    <% get_questions(@survey.id).each do |q| %>
    <table>
      <h3><%=q.question%></h3>
      <th>Option</th><th>Count</th>
      <% @results = choice_count(@survey.id) %>
      <% @results.keys.length.times do |i| %>
        <tr><td><%= key = @results.keys[i]%></td><td><%= @results[key] %></td></tr>
      <% end %>
      <% end %>
    </table>
    <input id="results_json" type="hidden" value='<%= @results_json %>' >
  </div>
</div>