<div class="container">
  <div class="survey_name">
    <h1><%= @survey.title %></h1>
    <h4>created by <%= @survey.creator.username %></h4>
  </div>
  <div class="survey_content">
    <% get_questions(@survey.id).each do |q| %>
    <h3><%= q.question %>?</h3>

    <form class="survey_question" action="/survey/<%= @survey.id %>" method="post">
      <% get_choices(q.id).each do |choice| %>
        <label for="<%=choice.choice%>"><%= choice.choice %></label>
        <input type="radio" name="<%= q.id %>" value="<%= choice.choice %>">
      <% end %>
       <% end %>
       <br><br>
      <input type="submit" value="Vote">
    </form>

  </div>
</div>
